<div>
    <div class="container" style="margin-top: 20px;">
        <h2 class="text-center">
            Admin Details
        </h2>
        <table class="table bg-white rounded border">

            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Gender</th>
                <th>Practice</th>
                <th>View</th>
                <th *ngIf="this.roleService.roleValue === 'admin'">Action</th>

            </tr>
            <tr *ngFor="let u of user">
                <td>{{u.gender==='female'? 'Miss ':'Mr '}}{{u.name}}</td>
                <td>{{u.email}}</td>
                <td>{{u.mobile}}</td>
                <td>{{u.gender}}</td>
                <td>{{u.topic}}</td>
                <td><a class="nav-link active" aria-current="page" routerLinkActive="active"
                        [routerLink]="['/dispaly',u._id]">
                        <mat-icon (click)="changeIcon('star')">visibility</mat-icon>
                    </a></td>
                <!-- <td> -->
            <!-- <tr *ngIf = "this.roleService.roleValue === 'admin'"> -->

                <button type="submit" (click)="remove(u.name)" class="btn btn-danger">Remove</button>&nbsp;
                <button type="submit" [routerLink]="['/update-add',u._id]" class="btn btn-info">Edit</button>
            <!-- </tr> -->
            <!-- </td> -->
            </tr>
        </table>
        <div class="text-center">
        <!-- <a *ngIf = "this.roleService.roleValue=== 'admin'" [routerLink]="['/user']" class="btn btn-primary me-3">Add New</a> -->
        <button class="btn btn-secondary me-5" [routerLink]="['/admin']" >Add Admin</button>
        <button type="submit" [routerLink]="['/']" class="btn btn-danger">Logout</button>
        </div>
    </div>
</div>