<!-- <div class="add-admin">
    <div class="container-fluid px-1 py-5 mx-auto user-form">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
      <div class="card">
        <h1 class="form-head">Add Admin</h1>




        <form #userForm="ngForm" novalidate>
          <div class="form-group">
            <label class="form-control-label px-3"> Name</label>
            <input type="text" #name="ngModel" class="form-control" [class.is-invalid]="name.invalid && name.touched" name="name" [(ngModel)]="userModel.name" required> 
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
          </div>
          
          <div class="form-group">
            <label class="form-control-label px-3">Email</label>
            <input type="text" #email="ngModel" pattern="([a-zA-Z0-9-_\.]+)@([a-zA-Z0-9]+)\.([a-zA-Z]{2,5})(\.[a-zA-Z]{2,5})?$" class="form-control" required
            [class.is-invalid]="email.invalid && email.touched"  name="email" [(ngModel)]="userModel.email" >
            <div *ngIf="email.errors && (email.invalid || email.touched)">
              <small class="text-danger" *ngIf="email.errors['pattern']">Email is incorrect</small>
              <small class="text-danger" *ngIf="email.errors['required']">Email is required</small>
            </div>
          </div><br>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div> 
    
           <div class="form-group">
            <label class="form-control-label px-3" >Gender</label><br>
            <label for="" class="form-control-label px-3"><input type="radio" name="gender" #gender value="male" [(ngModel)]="userModel.gender" required #myGender="ngModel">&nbsp;Male</label>&nbsp;
            <label for="" class="form-control-label px-3"><input type="radio" name="gender" #gender value="female" [(ngModel)]="userModel.gender" required #myGender="ngModel">&nbsp;Female</label>
          </div><br> -->
      
          <!-- <div class="form-group">
            <label class="form-control-label px-3">Phone</label>
            <input type="tel" #phone="ngModel" pattern="^\d{10}$" class="form-control" required
            [class.is-invalid]="phone.invalid && phone.touched" name="phone" [(ngModel)]="userModel.mobile"> 
           
            <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
              <small class="text-danger" *ngIf="phone.errors['required']">Phone number is required</small>
              <small class="text-danger" *ngIf="phone.errors['pattern']">Phone number should be 10 digits</small>
            </div>
          </div><br> -->
          
           <!-- <div class="form-group">
            <label class="form-control-label px-3">Practice</label>
            <select class="custom-select form-select" [class.is-invalid]="topic.invalid && topic.untouched" required #topic="ngModel" name="topic" [(ngModel)]="userModel.topic">
              <option hidden value="">Select any one</option>
              <option *ngFor="let topic of topics">{{topic}}</option>
            </select>
            <small class="text-danger" [class.d-none]="topic.valid || topic.untouched">Please choose a topic</small>
          </div><br> 
          <button [disabled]="userForm.form.invalid" id="submit" (click)="userdata()" type="submit" class="btn btn-primary">{{userModel.id==0||userModel.id==null ?'Submit':'Update'}}</button>
       </form>
      </div>  -->
     

      <!-- <form #loginForm="ngForm">
        <div class="container-fluid px-1 py-5 mx-auto user-form">
          <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
              <div class="card">
                <h1 class="form-head">Log In</h1>
      
      
                
                <form class="form-card" onsubmit="event.preventDefault()">
                  <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">User
                        Name<span class="text-danger"> *</span></label> <input type="text" id="fname" name="fname"
                        placeholder="Enter your user name" [(ngModel)]="username" required> </div>
                  </div>
                  <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">Password
                        <span class="text-danger"> *</span></label> <input type="password" id="password" [(ngModel)]="psw"
                        name="password" required> </div>
                  </div>
                  <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">Role<span
                          class="text-danger"> *</span></label>
                      <select class="form-select" id="role1" name="role1" aria-label="Default select example" [(ngModel)]="role1" required>
                      <option selected disabled>Open this select Role</option>
                      <option value="admin">Admin</option>
                      <option value="user">User</option>
                    </select>
                      
                    </div>
                  </div>
                  <div class="row justify-content-end">
                    <div class="form-group col-sm-12">
                      <a *ngIf = "this.roleService.roleValue === 'admin'" [routerLink]="['/role']" class="btn btn-primary me-3">Admin</a>
      
                      <button type="submit" class="btn-block btn-primary" value="Login" (click)="display(loginForm)">Login</button>
                    </div>
      
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </form>
       -->
       <div class="add-user">
        <div class="container-fluid px-1 py-5 mx-auto user-form">
          <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
          <div class="card">
            <h1 class="form-head">Add Admin</h1>
            <form #userForm="ngForm" novalidate>
              <div class="form-group">
                <label class="form-control-label px-3">Name</label>
                <input type="text" #name="ngModel" class="form-control" [class.is-invalid]="name.invalid && name.touched" name="name" [(ngModel)]="userModel.name" required> 
                <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
              </div>
          
              <div class="form-group">
                <label class="form-control-label px-3">Email</label>
                <input type="text" #email="ngModel" pattern="([a-zA-Z0-9-_\.]+)@([a-zA-Z0-9]+)\.([a-zA-Z]{2,5})(\.[a-zA-Z]{2,5})?$" class="form-control" required
                [class.is-invalid]="email.invalid && email.touched"  name="email" [(ngModel)]="userModel.email" >
                <div *ngIf="email.errors && (email.invalid || email.touched)">
                  <small class="text-danger" *ngIf="email.errors['pattern']">Email is incorrect</small>
                  <small class="text-danger" *ngIf="email.errors['required']">Email is required</small>
                </div>
              </div><br>
        
              <div class="form-group">
                <label class="form-control-label px-3" >Gender</label><br>
                <label for="" class="form-control-label px-3"><input type="radio" name="gender" #gender value="male" [(ngModel)]="userModel.gender" required #myGender="ngModel">&nbsp;Male</label>&nbsp;
                <label for="" class="form-control-label px-3"><input type="radio" name="gender" #gender value="female" [(ngModel)]="userModel.gender" required #myGender="ngModel">&nbsp;Female</label>
              </div><br>
          
              <div class="form-group">
                <label class="form-control-label px-3">Phone</label>
                <input type="tel" #phone="ngModel" pattern="^\d{10}$" class="form-control" required
                [class.is-invalid]="phone.invalid && phone.touched" name="phone" [(ngModel)]="userModel.mobile"> 
               
                <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                  <small class="text-danger" *ngIf="phone.errors['required']">Phone number is required</small>
                  <small class="text-danger" *ngIf="phone.errors['pattern']">Phone number should be 10 digits</small>
                </div>
              </div><br>
          
              <div class="form-group">
                <label class="form-control-label px-3">Practice</label>
                <select class="custom-select form-select" [class.is-invalid]="topic.invalid && topic.untouched" required #topic="ngModel" name="topic" [(ngModel)]="userModel.topic">
                  <option hidden value="">Select any one</option>
                  <option *ngFor="let topic of topics">{{topic}}</option>
                </select>
                <small class="text-danger" [class.d-none]="topic.valid || topic.untouched">Please choose a topic</small>
              </div><br>
              <button [disabled]="userForm.form.invalid" id="submit" (click)="userdata()" type="submit" class="btn btn-primary">{{userModel.id==0||userModel.id==null ?'Submit':'Update'}}</button>
           </form>
          </div>
        
      