<div class="role-comp">
        <h1 class="text-center" id="role-title">Role</h1>
        <div class="container">
                <div class="row">
                        <div class="col">
                                <img src="https://static.thenounproject.com/png/4669369-200.png">

                        </div>
                        <div class="col">
                                <img src="https://static.thenounproject.com/png/4669369-200.png">
                        </div>
                </div>
                <div class="row">
                        <div class="col">
                                <button class="btn btn-dark " [routerLink]="['/table']">ADMIN</button>
                        </div>
                        <div class="col">
                                <button class="btn btn-dark" [routerLink]="['/userTable']">USER</button>
                        </div>
                </div>
        </div>
</div>