<h1 class="text-center">Role</h1>
<!-- <img src="https://static.thenounproject.com/png/4669369-200.png" > 


<img src="https://static.thenounproject.com/png/4669369-200.png">

<br/>
<br/>
<button class="btn btn-dark me-5" [routerLink]="['/table']">ADMIN</button>

<button class="btn btn-dark " [routerLink]="['/userTable']">USER</button> -->

<div class="container">
        <div class="row">
                <div class="col">
                        <img src="https://static.thenounproject.com/png/4669369-200.png">
                        <!-- <br /> -->
                        <!-- <button class="btn btn-dark me-5" [routerLink]="['/table']">ADMIN</button> -->


                </div>
                <div class="col">
                        <img src="https://static.thenounproject.com/png/4669369-200.png">
                </div>
        </div>

        <div class="row">
                <div class="col">
                        <!-- <img src="https://static.thenounproject.com/png/4669369-200.png" >  -->
                        <!-- <br /> -->
                        <button class="btn btn-dark " [routerLink]="['/table']">ADMIN</button>


                </div>
                <div class="col">
                        <button class="btn btn-dark" [routerLink]="['/userTable']">USER</button>
                </div>
        </div>