<nav class="navbar navbar-expand-lg navbar-white bg-dark">
    <i class="bi-person-circle"></i>&nbsp;

    <a class="navbar-brand" href="#">User Management System</a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home</a>
            <a class="nav-item nav-link" href="#">About us</a>
            <a class="nav-item nav-link" href="#">Contact</a>
        </div>
    </div>
</nav>

<div class="wrapper">
    <div class="form-head">
        <h1>User Management System</h1>

        <div>
            <ul>
                <li>

                    <a class="nav-link active" aria-current="page" routerLinkActive="active" (click)="logOut()"
                        *ngIf="display" [routerLink]="['home']" style="color: aliceblue;">Logout</a>
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <button class="btn btn-success" aria-current="page" routerLinkActive="active" (click)="logIn()"
                        *ngIf="!display" [routerLink]="['user']" style="color: aliceblue;">Get Started
                    </button>
                </li>
            </ul>
        </div>
    </div>

</div>