.rolecompo{
    background-image: url('https://www.teahub.io/photos/full/232-2327450_hd-business-wallpaper-professional-background-hd-design.jpg');
    background-size: cover;
    height: 100%;
    // text-align: center;
    display: flex;
    // align-items: center;
    position: relative;
  }
  #role-compo {
    font-size: 100px;
    letter-spacing: -1px;
    // color: #DFBF84;
    color: rgb(37, 161, 209);
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #000; 
    margin: 10px 0 24px;
    text-align: center;
    line-height: 50px;
    padding-left: 500px;
    padding-top: 100px;
  }
  .compo{
    padding-top: 100px;
    padding-right: 100px;
    margin-left: 100px;
  }
  .user-compo{
    padding-top: 100px;
    padding-right: 100px;
    // margin-left: 100px;
    margin-top: -100px;
    margin-right: 50px;

  }