<form #loginForm="ngForm">
  <div class="container-fluid px-1 py-5 mx-auto user-form">
    <div class="row d-flex justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
        <div class="card">
          <h1 class="form-head">Log In</h1>


          
          <form class="form-card" onsubmit="event.preventDefault()">
            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">User
                  Name<span class="text-danger"> *</span></label> <input type="text" id="fname" name="fname"
                  placeholder="Enter your user name" [(ngModel)]="username" required> </div>
            </div>
            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">Password
                  <span class="text-danger"> *</span></label> <input type="password" id="password" [(ngModel)]="psw"
                  name="password" required> </div>
            </div>
            <div class="row justify-content-between text-left">
              <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">Role<span
                    class="text-danger"> *</span></label>
                <select class="form-select" id="role1" name="role1" aria-label="Default select example" [(ngModel)]="role1" value="role1" required>
                <option selected disabled>Open this select Role</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
              </select>
              {{role1}}
                
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="form-group col-sm-12">
                <a *ngIf = "role1 === 'admin'" [routerLink]="['/role']" class="btn btn-primary me-3" value="Login" >Admin Login</a>
                <a *ngIf = "role1 === 'user'" [routerLink]="['/roleUser']" class="btn btn-primary me-3" value="Login" >User Login</a>

                <!-- <button type="submit" class="btn-block btn-primary" value="Login" (click)="display(loginForm)">Login</button> -->
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</form>

